@font-face{
    font-family : aGothic10;
    src:url("../fonts/a고딕10.ttf");
    font-weight: 300;
}

@font-face{
    font-family : aGothic11;
    src:url("../fonts/a고딕11.ttf");
    font-weight: 300;
}

@font-face{
    font-family : aGothic12;
    src:url("../fonts/a고딕12.ttf");
    font-weight: 300;
}

@font-face{
    font-family : aGothic13;
    src:url("../fonts/a고딕13.ttf");
    font-weight: 300;
}

@font-face{
    font-family : aGothic14;
    src:url("../fonts/a고딕14.ttf");
    font-weight: 300;
}

@font-face{
    font-family : aGothic15;
    src:url("../fonts/a고딕15.ttf");
    font-weight: 300;
}

@font-face{
    font-family : aGothic16;
    src:url("../fonts/a고딕16.ttf");
    font-weight: 300;
}
/* 
@font-face{
    font-family : aGothic17;
    src:url("../fonts/a고딕17.ttf");
    font-weight: 300;
} */
/* 
@font-face{
    font-family : aGothic18;
    src:url("../fonts/a고딕18.ttf");
    font-weight: 300;
} */